In [1]:
import pandas as pd

In [3]:
titanic_df = pd.read_csv('datasets/titanic_processed.csv')
titanic_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,3,0,36.0,1,0,17.4000,0,0,1
1,1,2,1,1.0,2,1,39.0000,0,0,1
2,0,2,1,51.0,0,0,12.5250,0,0,1
3,1,2,0,23.0,0,0,13.7917,1,0,0
4,0,2,1,27.0,0,0,26.0000,0,0,1

In [4]:
titanic_df.shape

(712, 10)

In [6]:
from sklearn.model_selection import train_test_split

#X value is all feature except survived
#Y value is whether passenger survived or not
X = titanic_df.drop('Survived', axis=1)
Y = titanic_df['Survived']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [7]:
x_train.shape, y_train.shape

((569, 9), (569,))

In [8]:
x_test.shape, y_test.shape

((143, 9), (143,))

In [9]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(penalty='l2', C=1.0, solver='liblinear').fit(x_train, y_train)

In [10]:
#Get prediction result of training model
y_pred =  logistic_model.predict(x_test)

In [13]:
#make new dataframe to compare y_test and y_pred
pred_results = pd.DataFrame({'y_test': y_test, 'y_pred': y_pred})
pred_results.head()

     y_test  y_pred
657       0       0
528       1       1
111       0       0
577       1       1
622       0       0

In [25]:
#make confussion matrix
titanic_crosstab = pd.crosstab(pred_results.y_test, pred_results.y_pred)
titanic_crosstab

y_pred   0   1
y_test
0       76   7
1       22  38

In [26]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [27]:
acc =  accuracy_score(y_test, y_pred)
prec =  precision_score(y_test, y_pred)
recall =  recall_score(y_test, y_pred)

print("accuracy_score :  ", acc)
print("precision_score :  ", prec)
print("recall_score :  ", recall)

accuracy_score :   0.7972027972027972
precision_score :   0.8444444444444444
recall_score :   0.6333333333333333

In [29]:
TN = titanic_crosstab[0][0]
FN = titanic_crosstab[0][1]
FP = titanic_crosstab[1][0]
TP = titanic_crosstab[1][1]
TN,FN,FP,TP

(76, 22, 7, 38)

In [30]:
akurasi = (TP+TN)/(TP+TN+FP+FN)
presisi = (TP)/(TP+FP)
recall = (TP)/(TP+FN)
akurasi,presisi,recall

(0.7972027972027972, 0.8444444444444444, 0.6333333333333333)